<h1>Bubble Chart</h1>

<div id="sampleDemo" class="demo-padding demo-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
              
      <div id="chart-container">
        <oj-chart
          type="bubble"
          data="[[dataProvider]]"
          animation-on-display="auto"
          animation-on-data-change="auto"
          hover-behavior="dim">
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item
              x="[[item.data.x]]"
              y="[[item.data.y]]"
              z="[[item.data.z]]"
              group-id="[[ [item.data.group] ]]"
              series-id="[[item.data.series]]"></oj-chart-item>
          </template>
        </oj-chart>
      </div>
      
      
      
    </div>
  </div>